{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
		
		<style type="text/css">
			.box {
				display: flex;
				flex-direction: column;
				background-color: purple;
				border: 2px solid black;
				width: -webkit-fill-available;
				height: -webkit-fill-available;
/* 				padding-bottom: 75%; */
			  }
			
			.across {
				flex: 1 1 auto;
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
			}

			.lBox {
				margin: 1%;
				color: white;
				background-color: orange;
				border: 2px solid black;
				font-size: 60px;
				width: 18%;
			  }
		</style>
	</head>
	<body>
		<!-- Your layout here -->
		<div class='box'>
        	<div class='across'>
				<div class='lBox'>1</div>
				<div class='lBox'>2</div>
				<div class='lBox'>3</div>
				<div class='lBox'>4</div>
				<div class='lBox'>5</div>
			</div>
        	<div class='across'>
				<div class='lBox'>1</div>
			</div>
        	<div class='across' style='visibility: hidden;'>
				<div class='lBox'>0</div>
			</div>
      	</div>
    
	</body>
</html>